:host {
    display: table;
    width: 100%;

    label {
        display: flex;
        flex-direction: row;
        border: 1px solid #ddd;
        padding: 2px;
        height: 22px;
        vertical-align: top;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
        transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

        input {
            flex: 1;
            border: 0;
            padding-left: 16px;
        }
        .icon {
            flex: 0 0 15px;
            margin-right: 5px;
            margin-top: 3px;
            color: #ddd;
        }
    }
   .off-screen {
        display: block;
        float: left;
        height: 0;
        overflow: hidden;
        text-indent: -99999px;
        width: 0;
    }
    .viewport {
        box-sizing: border-box;
        list-style-type: none;
        margin: 0;
        padding: 0;
        z-index: 2;
        border: 1px solid #ddd;
        border-radius: 2px;
        background-color: #fff;
        overflow: hidden;

        li {
            box-sizing: border-box;
            white-space: nowrap;
            background-color: #fdfeff;
            padding: 2px 5px;

            &:hover {
                background-color: #ff3e58                
            }
            &:focus {
                background-color: #3e8bff                
            }
            .icon {
                color: #fff;
                display: block;
            }
        }
    }
 }

@media screen and (max-width: 600px) {
}