
<label for="">
    <span class="off-screen" [textContent]="message"></span>
    <input [value]="entry"
        (keyup)="keyup($event)" />
    <span [class]="icon" *ngIf="filteredData.length == 0" [class.icon]="true" area-hidden="true"></span>
    <span class="icon fa fa-reply" *ngIf="icon && filteredData.length" area-hidden="true"></span>
</label>
<ul *ngIf="filteredData.length" 
    role="list" 
    class="viewport" 
    [style.max-width]="direction === 'horizontal' ? viewport : null"
    [style.overflow-x]="direction === 'horizontal' ? 'auto' : null"
    [style.max-height]="direction === 'vertical' ? viewport : null"
    [style.overflow-y]="direction === 'vertical' ? 'auto' : null">
    <li role="listitem" tabindex="0" *ngFor="let item of filteredData" (keyup)="clickup($event, item)" (click)="selectTab(item)">
        <ng-container  
            [ngTemplateOutlet]="template ? template : defaultTemplate" 
            [ngTemplateOutletContext]="{data: item}"></ng-container>
        <span class="icon fa fa-reply" area-hidden="true"></span>
    </li>
</ul>

<ng-template #defaultTemplate let-detail="data">
  <span *ngFor="let x of keymap" [textContent]="detail[x] + ' '"></span>
</ng-template>
