
<label for="">
    <span class="off-screen" [textContent]="message"></span>
    <input [value]="entry"
        [placeholder]= "placeholder"
        (keyup)="keyup($event)" />
    <span [class]="icon ? icon : null" *ngIf="filteredData.length == 0" [class.icon]="true" area-hidden="true"></span>
    <span class="icon fa fa-reply" *ngIf="icon && filteredData.length" area-hidden="true"></span>
</label>
<ul *ngIf="filteredData.length" 
    role="list" 
    class="viewport" 
    [class.fix-height]="allowdropdown"
    [style.max-width]="direction === 'horizontal' ? viewport : null"
    [style.overflow-x]="direction === 'horizontal' ? 'auto' : null"
    [style.flex-direction]="direction === 'horizontal' ? 'row' : 'column'"
    [style.max-height]="direction === 'vertical' ? viewport : null"
    [style.overflow-y]="direction === 'vertical' ? 'auto' : null">
    <li 
        *ngFor="let item of filteredData; let i = index" 
        role="listitem" 
        tabindex="0" 
        [id]="'item' + i" 
        (keyup)="clickup($event, item, i, filteredData.length)" 
        (click)="selectTab(item)">
        <ng-container  
            [ngTemplateOutlet]="template ? template : defaultTemplate" 
            [ngTemplateOutletContext]="{data: item}"></ng-container>
        <span class="icon fa fa-reply" area-hidden="true"></span>
    </li>
</ul>

<ng-template #defaultTemplate let-detail="data">
  <span *ngFor="let x of keymap" [textContent]="detail[x] + '&nbsp;'"></span>
</ng-template>
